*{box-sizing: border-box; margin: 0; padding: 0;}
table{
    margin: 0 auto;
    justify-content: center;
    border-collapse: collapse;
    text-align: center;
}
h3{
    text-align: center;
}
.div-esqueceusenha{
    width: 700px;
    position: absolute;
    padding: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #43e831;
    color: whitesmoke;
    border: 3px solid rgb(202, 238, 198);
    border-radius: 10px;
}
#btn-esqueceu{
    border:1px solid whitesmoke;
    border-radius: 5px;
    width: 25%;
    background-color:#31dfe8;
}
.voltar{
    margin: 15px;
    padding: 20px;
    color: whitesmoke;

}